<!-- This html file is for each event to be displayed in the find event page-->
<!-- Start of container -->
<!-- <div class="container"> -->
<div class="col-sm ">
        <h3>{{ event.name }}</h3>
    <div class="row">
        <div class="col-sm">
            <h6 class="d-inline">Host name:</h6>
            <p class="d-inline">{{ event.host }}</p>
        </div>
        <div class="col-sm">
            <h6 class="d-inline">ZIP:</h6>
            <p class="d-inline">{{ event.zip_code }}</p>
        </div>
        <div class="col-sm">
            <h6 class="d-inline">Date:</h6>
            <p class="d-inline">{{ event.date }}</p>
        </div>
        <div class="col-sm">
            <h6 class="d-inline">Time:</h6>
            <p class="d-inline">{{ event.start_time}} to {{ event.end_time }}</p>
        </div>
        <div class="col-sm">
            <h6 class="d-inline">Description:</h6>
            <p class="d-inline">{{ event.description }}</p>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary btn-lg">Join</button>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- End of container -->
