<!-- This html file is for each event to be displayed in the find event page-->
<!-- Start of container -->
<!-- <div class="container"> -->
<form method="GET">
<div class="col-sm ">
        <h3>{{ event.name }}</h3>
    <div class="row">
        <div class="col-sm">
            <h6 class="d-inline">Host name:</h6>
            <p class="d-inline">{{ event.host }}</p>
        </div>
        <div class="col-sm">
            <h6 class="d-inline">ZIP:</h6>
            <p class="d-inline">{{ event.zip_code }}</p>
        </div>
        <div class="col-sm">
            <h6 class="d-inline">Date:</h6>
            <p class="d-inline">{{ event.date }}</p>
        </div>
        <div class="col-sm">
            <h6 class="d-inline">Time:</h6>
            <p class="d-inline">{{ event.start_time}} to {{ event.end_time }}</p>
        </div>
        <div class="col-sm">
            <h6 class="d-inline">Description:</h6>
            <p class="d-inline">{{ event.description }}</p>
        </div>
        <div class="col-sm">
            <a class="btn-btn btn-primary btn-lg" href=/meet/event_view/?event_id={{ event.id }}>Event Info</a>
        </div>
    </div>

</div>
</form>
<!-- </div> -->
<!-- End of container -->
