{% extends "index.html" %}
{% block title %}
<title>FAQ</title>
{% endblock %}

{% block main_content %}

<div class="col-sm-8 shadow-sm mb-4 mx-auto bg-white rounded h-100" style="padding: 15px; margin-top: 30px;">
    <h1 class="text-center font-weight-bold mb-4">FAQs</h1>
    <ul style="list-style-type: none;">
        <li> Q: Do I need a profile to create an event?</li>
        <li> A: Yes, a profile account must be created before any event can be created or joined.</li>
        </br>
        <li> Q: How many events can I attend?</li>
        <li> A: We allow our users to attend as many events as they want.</li>
        </br>
        <li> Q: Why are the zip code for some events "00000"?</li>
        <li> A: "00000" is the zip code used for online games and virtual meetings.</li>
        </br>
        <li> Q: How do I edit my profile once it is created?</li>
        <li> A: First, make sure you are logged in. Once you are, you can access your profile page from the "Profile" tab on the navbar. Once you see your information, find the "Edit Profile" button. Make any changes and click "Apply".</li>
        </br>
        <li> Q: How do I edit my event once it is created?</li>
        <li> A: Navigate to the event in which you created.  You can find a button labeled "Edit Event", which allows you to individually edit the information.</li>
        </br>
        <li> Q: Can I share my location with other?</li>
        <li> A: Currently we don't have this feature, but we will be adding it in a future update.</li>
        </br>
        <li> Q: Do I need to pay for any features?</li>
        <li> A: We are providing this web application free to everyone.</li>
        </br>
        <li> Q: Does anything change due to Covid-19?</li>
        <li> A: There are no limitation due to Covid-19 to use this application.  However, this application is used nationwide and you should check with your local officials for any mandates given and follow guidelines by the CDC.</li>
    </ul>

</div>

{% endblock %}