{% extends "index.html" %}

{% block title %}
<title>Find Event</title>
{% endblock %}

{% block main_content %}
<div class="col-sm-2 bg-white mx-auto mt-3 h-100">
    <form class="mx-2 my-3">
        <div class="form-group">
            <label for="Event_Name">Event Name:</label>
            <input type="text" class="form-control" id="Event_Name" placeholder="Marathon, Movies, Video Games, ...">
        </div>
        <div class="form-group">
            <label>Filters:</label>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="filter_1">
                <label class="form-check-label" for="filter_1">Check me out</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="filter_2">
                <label class="form-check-label" for="filter_2">Check me out</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="filter_3">
                <label class="form-check-label" for="filter_3">Check me out</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="filter_4">
                <label class="form-check-label" for="filter_4">Check me out</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="filter_5">
                <label class="form-check-label" for="filter_5">Check me out</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="filter_6">
                <label class="form-check-label" for="filter_6">Check me out</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="col-sm-10 mx-auto my-3">
<!-- The for loop below is for when event_list is populated-->
{% for event in event_list %}
{% include "event_container.html" %}
{% endfor %}

<!-- Below is a test for what the event display should look like ()-->

    <div class="col-sm-11 shadow-sm mx-auto mb-3 bg-white rounded">
        <div class="py-2 d-flex flex-row">
            <div class="p-2">
                <img src="https://cdn.onlinewebfonts.com/svg/img_24787.png" class="m-2" width="100" height="100"
                     alt="Test 1">
            </div>
            <div class="p-2">
                <h3>5k At Coral Gables</h3>
                <h6>Description:</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel tempus metus, eu vehicula lectus.
                    Aenean et posuere nibh. Morbi pretium arcu at magna ullamcorper tincidunt. Nullam eget nisl in
                    tortor condimentum dictum. In semper tristique varius. Vestibulum imperdiet est quam, eu rhoncus
                    neque vestibulum a. Duis cursus at metus sed egestas. Fusce tincidunt, lectus vel tempus congue,
                    dolor lorem consectetur sem, a bibendum leo magna tincidunt mi. Ut ac bibendum nulla. Donec
                    ultricies lorem turpis, sed mollis dolor faucibus suscipit. Sed in aliquet odio. Nulla aliquet
                    porttitor mi</p>
            </div>
        </div>
    </div>


</div>
{% endblock %}