{% extends "index.html" %}

{% block title %}
<title>Find Event</title>
{% endblock %}

{% block main_content %}
<div class="col-sm-2 bg-white mx-auto mt-3 h-100">
    <form class="mx-2 my-3">
        <div class="form-group">
            <label for="Event_ZIP">ZIP Code:</label>

            <form action={% url 'find_event' %} method='POST'>
                {% csrf_token %}
                <input name='zip' type='text'
                       placeholder='Search'>

            <label for="Event_Name">Event Name:</label>
                 <input name='name' type='text'
                       placeholder='Search'>

        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="col-sm-10 mx-auto my-3">
<!-- The for loop below is for when event_list is populated-->
{% for event in event_list %}

    <div class="col-sm-11 shadow-sm mx-auto mb-3 bg-white rounded">
        <div class="py-2 d-flex flex-row">
            <div class="p-2">
                <img src="https://cdn.onlinewebfonts.com/svg/img_24787.png" class="m-2" width="100" height="100"
                     alt="Test 1">
            </div>
            <div class="col p-2">
               {% include "event_container.html" %}
            </div>
        </div>
    </div>


{% endfor %}


</div>
{% endblock %}