{% extends "index.html" %}

{% block title %}
<title>Find Event</title>
{% endblock %}

{% block main_content %}
<!-- The for loop below is for when event_list is populated-->
{% for event in event_list %}
{% include "event_container.html" %}
{% endfor %}

<!-- Below is a test for what the event display should look like ()-->
<div class="col-sm-8 shadow-sm my-3 mx-auto bg-white rounded h-100">
    <h3 class="mt-3">5k At Coral Gables</h3>
    <h6>Description:</h6>
    <p class="mb-3">This is a test event for display .........</p>
</div>
{% endblock %}