{% extends "index.html" %}
{% block title %}
<title>Home</title>
{% endblock %}

{% block main_content %}
<!-- Left Column -->
<div class="col-sm-8 shadow-sm mb-4 mx-auto bg-white rounded h-100" style="padding: 15px; margin-top: 30px;">
    <!-- News Section -->
    <h1 class="text-center font-weight-bold mb-4">News</h1>
    <div>
        <hr class="mt10 mb10"/>
        <div>
            <h2 class="text-center" style="text"><u>Welcome to Meet Up</u></h2>
            <p class="mx-3 px-5">Hello Community,<br><br>
            Welcome to the Meet Up community. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis sodales scelerisque lectus id porta. In bibendum ex sed fringilla consectetur.
                Pellentesque hendrerit fringilla tellus, quis eleifend nulla lobortis nec.
                Pellentesque elit augue, iaculis pharetra odio at, vestibulum dapibus lectus.
                Integer pharetra placerat nibh vitae egestas. Etiam sed massa orci. Proin molestie pharetra
                cursus. Duis ac vulputate orci. Pellentesque ac sagittis nulla. Sed facilisis viverra nulla a
                varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Aenean ex libero, finibus id porta ut, efficitur eget nunc. Curabitur et erat iaculis est
                efficitur pharetra. Mauris magna erat, sollicitudin condimentum malesuada pharetra, suscipit
                id diam. Morbi maximus quis dolor sit amet tincidunt. Aenean vel iaculis arcu, et consectetur
                mauris.
            <br><br>- Staff</p>
        </div>

    </div>
    <!-- /News Section -->
</div>
<!-- /Left Column -->

<!-- Right Column-->
<div class="col-sm-3 mx-auto">

    <!-- Staff -->
    <div>
        <div class="col shadow-sm p-4 mb-4 bg-white rounded mb-auto" style="padding: 15px; margin-top: 30px;">
            <h3 class="mb-3 text-center font-weight-bold">Staff</h3>
            <img src="https://cdn.onlinewebfonts.com/svg/img_24787.png" class="m-2" width="100" height="100" alt="Test 1">
            <img src="https://cdn.onlinewebfonts.com/svg/img_24787.png" class="m-2" width="100" height="100" alt="Test 2">
            <img src="https://cdn.onlinewebfonts.com/svg/img_24787.png" class="m-2" width="100" height="100" alt="Test 3">
            <img src="https://cdn.onlinewebfonts.com/svg/img_24787.png" class="m-2" width="100" height="100" alt="Test 4">
        </div>
    </div>
    <!-- /Staff -->

    <!-- About Us -->
    <div>
        <div class="col shadow-sm p-4 mb-4 bg-white rounded mb-auto" style="padding: 15px; margin-top: 30px;">
            <h3 class="mb-3 text-center font-weight-bold">About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis sodales scelerisque lectus id porta. In bibendum ex sed fringilla consectetur.
                Pellentesque hendrerit fringilla tellus, quis eleifend nulla lobortis nec.
                Pellentesque elit augue, iaculis pharetra odio at, vestibulum dapibus lectus.
                Integer pharetra placerat nibh vitae egestas. Etiam sed massa orci. Proin molestie pharetra
                cursus. Duis ac vulputate orci. Pellentesque ac sagittis nulla. Sed facilisis viverra nulla a
                varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Aenean ex libero, finibus id porta ut, efficitur eget nunc. Curabitur et erat iaculis est
                efficitur pharetra. Mauris magna erat, sollicitudin condimentum malesuada pharetra, suscipit
                id diam. Morbi maximus quis dolor sit amet tincidunt. Aenean vel iaculis arcu, et consectetur
                mauris.</p>
        </div>
    </div>
    <!-- /About Us -->

</div>
<!-- /Right Column-->

{% endblock %}