
<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark navbar-background main-nav" style="font-size: 25px">
    <div class="container my-auto" style="margin-top:30px">
        <ul class="nav navbar-nav">
            <li class="nav-item mx-3">
                <a class="nav-link {% if nav == "home" %}active{% endif %}" href="/">Home</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link {% if nav == "create_event" %}active{% endif %}" href="/meet/create/">Create Event</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link {% if nav == "find_event" %}active{% endif %}" href="/meet/find_event/?zip=&name=">Find Event</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link {% if nav == "faq" %}active{% endif %}" href="/faq/">FAQ</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link {% if nav == "rules" %}active{% endif %}" href="/rules/">Rules</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link {% if nav == "contact" %}active{% endif %}" href="/contact/">Contact Us</a>
            </li>
        </ul>

        <!-- Login and Signup VS Member -->
        {% if user.is_authenticated %}
            <div>
                    <ul class="nav navbar-nav">
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="/personal/">Profile</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="/auth/logout/">Logout</a>
                        </li>
                    </ul>
                </div>

        </div>
        {% else %}
        <div class="float-right">
                <div>
                    <ul class="nav navbar-nav">
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="/auth/login/">Login</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="/auth/create_account/">Sign Up</a>
                        </li>
                    </ul>
                </div>


        {% endif %}
        <!-- /Login and Signup VS Member -->

    </div>
</nav>
<!-- /Navbar -->