{% extends "index.html" %}
{% block title %}
<title>Personal</title>
{% endblock %}

{% block main_content %}
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img  src="http://via.placeholder.com/100x100" alt="Avatar" style="border-radius: 50%;width:150px">
                            <div class="file btn btn-lg btn-primary" >
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">

<div class="row">
  <div class="column">
    <div class="card">
      <h6>Joined Meeting</h6>
      <p>12</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h6>Friends</h6>
      <p>20</p>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <h6>Application</h6>
      <p>8</p>

    </div>
  </div>
</div>


                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profile</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">

       <center> <h style="font-size:20px;">{{ user.first_name }} {{user.last_name}}</h><br/>



                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                {{ u_form.as_p }}
                                {{ p_form.as_p }}
                              <button type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit"> Update </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}