{% extends "index.html" %}
{% block title %}
<title>Rules</title>
{% endblock %}

{% block main_content %}

<div class="col-sm-8 shadow-sm mb-4 mx-auto bg-white rounded h-100" style="padding: 15px; margin-top: 30px;">
    <h1 class="text-center font-weight-bold mb-4">Rules</h1>
    <ol>
        <li> No explicit events.</li>
        <li> No events that are against any laws.</li>
        <li> No events that promote violence.</li>
        <li> Follow Covid-19 mandates for your area and CDC guidelines.</li>
        <li> Administers and moderators of this application are free to remove any event or profile that they find to break any of these rules.</li>
    </ol>

</div>

{% endblock %}